#informationBox{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    padding-right: 5%;
    margin-top: 50px;
    gap: 5%;
}

.informationBoxPuff{
    flex-basis: 28%;
    background-color:  #088395;
    border-radius: 50%;
    position: relative;
    padding-bottom: 28%;
}

.informationBoxPuffText{
    position: absolute;
    top: 10%;
    left: 10%;
}

.imgPuff{
    background-color: #088395;
    background-image: url("melker.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.informationBoxPuffText h2{
    text-align: center;
    color: white;

}

.informationBoxPuffText ul{
    display: inline-block;
}

.informationBoxPuffText li{
    text-align: left;
    font-size: 18px;
    color: white;
}



@media (min-width: 767px) {
    .footerInformation{
        position: absolute;
        left: 0;
        bottom: 0;
    }

}


@media (max-width: 768px) {


    #informationBox{
        flex-direction: column;
        height: auto;

    }

    .informationBoxPuff{
        flex-basis: 200px;
        width: 80%;
        margin-left: 10%;
        margin-bottom: 50px;
    }
    

}